{% extends 'main.html' %}

{% block content %}
    {% if cart_items %}
        <ul>
            {% for item in cart_items %}
                <strong>{{ item.product.name }}</strong>
                <br>
                {% if item.flavor %}
                    <p>Flavor: {{ item.flavor }}</p>
                {% endif %}
                <p>Quantity: {{item.quantity}} 
                    <a href="{% url 'increase_quantity' item.id %}">+</a>
                    <a href="{% url 'decrease_quantity' item.id %}">-</a>
                </p>
                <p>Total price: {{ item.get_total_price }}$</p>
                <a href="{% url 'remove_from_cart' item.id %}">Remove</a>
                <br>
            {% endfor%}
        </ul>
    {% else %}
        <p>You cart is empty</p>
    {% endif %}
{% endblock content %}