{% extends 'main.html' %}

{% block content %}

    {% if product %}
        <h1>{{ product.name }}</h1>
        <h3>{{ product.flavor }}</h3>
        <strong>{{ product.price }}$</strong>
        <br>

        <form method="POST">
            {% csrf_token %}
            
            {{ form.as_p }}
            <button type="submit">Add to cart</button>
        </form>

        <strong>Reviews:</strong>
        {% for review in product_reviews %}
            <p>{{ review.rating }}/5</p>
            <p>{{ review.content }}</p>
            <p>{{ review.created_at|date:"Y-m-d" }} by {{ review.author.name }}</p>
        {% endfor %}
    {% endif %}

{% endblock content %}